<h1> Create a Team and Heroes! </h1>
      <form action="/teams" method="post">

        <p> Name: <input type="text" id="name" name="team[name]"></p>
        <p> Motto: <input type="text" id="motto" name="team[motto]"></p>

        <h1> Hero 1 </h1>
        <p>Hero's Name: <input type="text" id="member1_name" name="team[members][][name]" ></p> <br>

        <p> Hero's Power: <input type="text" id="member1_power" name="team[members][][power]"></p><br>

        <p> Hero's Biography: <input type="text" id="member1_bio" name="team[members][][bio]"></p><br>

        <h1> Hero 2 </h1>
        <p>Hero's Name: <input type="text" id="member2_name" name="team[members][][name]" ></p> <br>

        <p> Hero's Power: <input type="text" id="member2_power" name="team[members][][power]"></p><br>

        <p> Hero's Biography: <input type="text" id="member2_bio" name="team[members][][bio]"></p><br>

        <h1> Hero 3 </h1>
        <p>Hero's Name: <input type="text" id="member3_name" name="team[members][][name]" ></p> <br>

        <p> Hero's Power: <input type="text" id="member3_power" name="team[members][][power]"></p><br>

        <p> Hero's Biography: <input type="text" id="member3_bio" name="team[members][][bio]"></p><br>

        <input type="submit" id="Submit" value="submit">

      </form>
